body {
  margin: 0;
}

.main {
  height: 100%;
  width: 100%;
}

.header {
  background-color: #333;
  padding: 1px 0px;
  width: 100%;
  height: 20%;
  color: white;
  font-family: "Sofia", sans-serif;
  text-align: center;
}

.bar {
  height: 20%;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.konten {
  padding: 30px 16px 30px;
  height: 40%;
  width: 100%;
}

.footer {
  background-color: #333;
  padding: 10px 16px;
  height: 20%;
  width: 100%;
  color: white;
  text-align: center;
}

h1 {
  font-size: 50px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #04AA6D;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {
    float: none;
  }
}

.img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.table1 {
  border-collapse: collapse;
  width: 40%;
}

.table2 {
  border-collapse: collapse;
  width: 50%;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th {
  text-align: center;
  font-size: 18px;
  padding: 8px;
}

td {
  padding: 8px;
  font-size: 16px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
